:root {
  --el-bgcolor: rgb(32, 32, 32);
  --el-coloor: white;
}

body {
  background-color: var(--el-bgcolor);
}
.main-logo {
  width: 130px;
  height: 60px;
}
.header-contener {
  display: flex;
  align-items: center;
  padding: 2.2em 3.94em;
  justify-content: space-between;
  position: fixed;
  background-color: var(--el-bgcolor);
  color: white;
  top: 0;
  left: 0;
  right: 0;
}
.menu-list {
  display: flex;
  align-items: center;
}
.menu-item {
  margin-left: 3em;
  text-decoration: none;
  color: white;
}
.first-screen {
  background-image: url('./images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15vh;
}
.first-screen-contener {
  width: 50%;
}
.main-title {
  font-weight: 800;
  font-size: 4em;
  line-height: 1;
  color: var(--el-coloor);
  padding-left: 30px;
  font-family: 'Great Vibes', cursive;
}
.main-descript {
  color: var(--el-coloor);
  font-weight: 400;
  padding-left: 30px;
  font-family: 'Great Vibes', cursive;
  padding-top: 20px;
}
.search-container {
  margin: 10px 1250px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

#searchIcon {
  font-size: 20px;
  cursor: pointer;
}

#searchInput {
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 10px;
}

.product {
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 15px;
  font-weight: bold;
}
.set-image {
  width: 170px;
  height: 200px;
}
.price {
  border: 2px solid black;
  margin-top: 15px;
}

.text-under-form {
  font-size: 1.8em;
  text-align: center;
  font-family: 'Great Vibes', cursive;
  padding: 40px 20px;
  color: var(--el-coloor);
}
.footer-container,
.footer-item-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--el-bgcolor);
  color: white;
  padding: 10px 20px;
}
.footer-item {
  margin-left: 16em;
  color: white;
  text-decoration: none;
}
