:root {
  --el-bgcolor: rgb(32, 32, 32);
  --el-coloor: white;
}

form {
  padding: 0 60px;
}
.main-container {
  max-width: 200px;
  width: 100%;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px 15px;
  background-color: var(--el-bgcolor);
  color: white;
  font-size: 18px;
  margin: 0 auto;
}
.position {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.flex-gender {
  display: flex;
}
button {
  margin-top: 15px;
  padding: 20px 40px;
  border-radius: 15px;
}
