:root {
  --el-bgcolor: rgb(32, 32, 32);
  --el-coloor: white;
}
body {
  background-color: var(--el-bgcolor);
}
.main-logo {
  width: 130px;
  height: 60px;
}
.header-contener {
  display: flex;
  align-items: center;
  padding: 2.2em 3.94em;
  justify-content: space-between;
  position: fixed;
  background-color: var(--el-bgcolor);
  color: white;
  top: 0;
  left: 0;
  right: 0;
}
.menu-list {
  display: flex;
  align-items: center;
}
.menu-item {
  margin-left: 3em;
  text-decoration: none;
  list-style-type: none;
  color: white;
}
.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 150px;
}

.product {
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 15px;
  font-weight: bold;
}
.set-image {
  width: 170px;
  height: 200px;
}
.price {
  border: 2px solid black;
  margin-top: 15px;
}
.footer-container,
.footer-item-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--el-bgcolor);
  color: white;
  padding: 10px 20px;
}
.footer-item {
  margin-left: 16em;
}
